# https://www.ovh.com/auth/api/createToken
# configuration specific to 'ovh-eu' endpoint
ENDPOINT=ovh-eu
APPLICATION_KEY=YOUR_APPLICATION_KEY
APPLICATION_SECRET=YOUR_APPLICATION_SECRET
CONSUMER_KEY=YOUR_CONSUMER_KEY